@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on main body if content fits */
}

.editor-fade-transition {
  transition: opacity 0.1s ease-in-out; /* Transição rápida de opacidade */
}